html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box; 
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 15px;
}

#password-div{
    position: relative;
    width: 250px;
    height: 25px;
}

#password-div input{
    position: absolute;
    width: 100%;
    height: 100%;
}

#password-div span{
    display: inline-block;
    background-color: white;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 4px;
}